<p id="notice"><%= notice %></p>

<p>
  <strong>Channel:</strong>
  <%= @piconet.channel_id %>
</p>

<p>
  <strong>Master:</strong>
  <%= @piconet.master_id %>
</p>

<p>
  <strong>Timer:</strong>
  <%= @piconet.timer %>
</p>



<%= link_to 'Edit', edit_piconet_path(@piconet) %> |
<%= link_to 'Back', piconets_path %>
